<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.sirius.example.fowlerdsl.design.Activator"
               id="org.eclipse.sirius.example.fowlerdsl.design"
	       name="fowlerdsl">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="org.eclipse.sirius.example.fowlerdsl.design.OpenEmbeddedEditor"
           id="org.eclipse.sirius.example.fowlerdsl.design.OpenEmbeddedEditor">
     </javaActions>
  </extension>
</plugin>
