/.StatemachineDescriptionLabelProvider.java._trace
/.StatemachineDescriptionLabelProvider.xtendbin
/.StatemachineLabelProvider.java._trace
/.StatemachineLabelProvider.xtendbin
/StatemachineDescriptionLabelProvider.java
/StatemachineLabelProvider.java
