<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.eef.ide.ui.eefLifecycleManagerProvider">
      <descriptor
            class="org.eclipse.sirius.example.fowlerdsl.xtextwidget.XtextPartialViewerLifecycleManagerProvider"
            description="Xtext partial viewer"
            id="org.eclipse.sirius.example.fowlerdsl.xtextwidget.XtextPartialViewer"
            label="Xtext Partial Viewer">
      </descriptor>
   </extension>

</plugin>
