<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- register the Xtext UI language services for aird models to Xtext's registry -->
   <extension
         point="org.eclipse.xtext.extension_resourceServiceProvider">
	    <resourceServiceProvider
	          class="io.typefox.xtext.sirius.aird.ui.ExecutableExtensionFactory:org.eclipse.xtext.ui.resource.generic.EmfResourceUIServiceProvider"
	          uriExtension="aird">
	    </resourceServiceProvider>
   </extension>
</plugin>
